* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;

}

body {
  font-family: 'Inter', sans-serif;
  background-color: #1c1d25;

  /* min-height: 100vh */
  /* to center the entire page */
  /* margin: 0 auto; */
}

section {
  background-color: #fff;
}

.nav-name {
  /* display: block; */
  font-size: 2.8rem;
}


nav {
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
  background-color: #1c1d25;
  color: #fff;
  padding: 1.8rem 1.8rem 0 1.8rem;
  min-width: 50rem;
}

.nav-links {
  display: flex;
  justify-content: flex-end;
  gap: 1.6rem;
  width: 50rem;
  list-style-type: none;
  font-size: 3rem;
}

ul.show {
  display: block;
}

.nav-link-item:link,
.nav-link-item:visited {
  text-decoration: none;
  color: #fff;
  transition: all .3s;
}

.nav-link-item:hover,
.nav-link-item:active {
  color: #ffa94d94;
}

.hero-container {
  display: flex;
  height: 100%;
  justify-content: space-between;
  align-items: flex-start;
}

.hero {
  background-color: #1c1d25;
  height: 100vh;
  color: #fff;
  font-size: 4rem;
}

.hero-text {
  margin-top: 9rem;
  margin-left: 4rem;
  margin-bottom: 30rem;
  font-size: 5.2rem;
  display: flex;
  flex-direction: column;
}

.hero-title {
  font-size: 9rem;
  text-transform: uppercase;
}



h1 {
  font-size: 5rem;
  font-weight: 300;;
  text-transform: uppercase;
}
.header-secondary {
  margin: 1.2rem 0;
  font-size: 3.2rem;
  text-transform: uppercase;
}
.about-text {
  font-size: 1.6rem;
  line-height: 1.4;
  max-width: 44rem;
}

.socials {
  display: flex;
  gap: 2rem;
  margin-top: -1rem;
}

.btn {
  margin-top: 1.2rem;
  width: 20rem;
  height: 6rem;
  border-radius: 2.5rem;
  border: 2px solid #fff;
  background-color: transparent;
  color: #fff;
  text-align: center;
  font-size: 3rem;
  font-weight: 300;
}

.btn:hover {
  background-color: #ffa94d94;
  cursor: pointer;
  border: 2px solid transparent;
}

footer {
  height: 50rem;
  background-color: black;
}

.projects-container {
  display: flex;
  flex-direction: column;
  width: 60rem;
  /* padding-left: 1.2rem; */
}

.project {
  /* margin-top: 3.2rem; */
  display: flex;
  border-top: 2px solid #333;
  /* padding-left: 1.2rem; */
  padding-bottom: 1.8rem;
  padding: 1.8rem 1.2rem;
  gap: 1.2rem;
  transition: all .3s;
}

.project:hover {
  background-color: #ffa94d94;
}

.project-number {
  font-size: 7.2rem;
  font-weight: 700;
  width: 10.8rem;
  color: rgba(51, 51, 51, 0.37);
}

.project-detail {
  display: flex;
  justify-content: space-between;
}

.project-name {
  margin-top: 1.2rem;
  font-size: 3.2rem;
}

.project-date {
  font-size: 1.6rem;
  text-transform: uppercase;
  color: #444
}

.project-text {
  font-size: 2.2rem;
  color: #444;
  max-width: 70rem;
  padding-right: 1.2rem;
}

.project-links {
  display: flex;
  /* flex-direction: column; */
  align-items: flex-end;
  gap: 1.6rem;
  padding-bottom: .4rem;
}

.project-link:link,
.project-link:visited {
  text-decoration: none;
  display: block;
  font-size: 2.2rem;
  color: #333;
  font-weight: 600;
}

.project-link:hover,
.project-link:active {
  color: #1864ab;
}

.project-imgs {
  /* max-height: 25rem; */
  max-width: 40rem;
  margin-left: auto;
}
.project-imgs img {
  width: 100%;
}

.hamburger {
  display: none;
}

.hamburger:focus {
  outline: 0;
}

.contact-section {
  padding: 2.2rem;
  padding-top: 2.2rem;
  border-top: 2px solid #333;
  background-color: #1c1d25;
  color: #fff;
}


form {
  /* margin-left: 2.2rem; */
  display: flex;
  gap: 2.2rem;
  flex-direction: column;
  font-size: 2.2rem;
  max-width: 50rem;
}

.input-field {
  display: flex;
  align-content: flex-start;
  justify-content: space-between;
  gap: 1.8rem;
}

input {
  height: 2.8rem;
  width: 30rem;
}

.message {
  min-width: 30rem;
  min-height: 20rem;
  font-family: 'Inter', sans-serif;
}

@media (max-width: 50rem) {
  .project-imgs {
    /* max-height: 25rem; */
    max-width: 40rem;
    margin-left: 0;
    margin-top: 1.2rem;
  }

  .project {
    flex-wrap: wrap;
  }
  .project-section {
    width: 40rem;
  }

  .project-name {
    margin-top: 0;
    font-size: 3.2rem;
  }


  
}

@media (max-width: 35rem) {
  .hero-text {
    margin-top: 5rem;
  }

  .hamburger {
    display: block;
    border: 0;
    background-color: transparent;
    color: #fff;
    font-size: 3rem;
  }


  /* .nav-links {
    display: none;
  } */

  nav {
    align-items: flex-start;
  }
}